<html>
<head>
  <title>Movie and score dataset web app index</title>
  <style type="text/css">
  body{background: #ddd;}
  div{width:1800px;height:45px;margin:10px auto;color:#fff;font-size:24px;}
  .box1{background: #71a879;text-align: center;line-height: 200px;}
  </style>
</head>
<body>

    
    <h1>
    <div  class="box1">imdb score and movie dataset</div> 
    <div  class="box1">Look at the data of movie and its imdb score</div>
    <div  class="box1"><a href={{ url_for('movie') }}>movie</a> | <a href={{ url_for('imdbmovie') }}>imdbmovie</a></div>
    </h1>

</body>
</html>